<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <title>Динозавры</title>
    {% macro render_features_select(data_features) %}
        <label for="features_selector">Выберите признак:</label>
        <select class="select-field" name="features_selector" id="features_selector">
            {% for i in range(len(data_features)) %}
                <option value="{{i+1}}" {% if data_features.loc[i, "feature_id"] == 1 %} selected {%endif%}>{{data_features.loc[i, "feature_name"]}}</option>
            {% endfor %}
        </select>
    {% endmacro %}
    {% macro render_classes_select(data_defects) %}
        <label for="classes_selector">Выберите неисправность:</label>
        <select class="select-field" name="classes_selector" id="classes_selector">
            {% for i in range(len(data_defects)) %}
                <option value="{{i+1}}" {% if data_classes.loc[i, "defect_id"] == 1 %} selected {%endif%}>{{data_classes.loc[i, "defect_name"]}}</option>
            {% endfor %}
        </select>
    {% endmacro %}
    {% macro render_buttons(selected_button) %}
        <div class="button-section">
            <form action = '' method ="get">
                <input type="hidden" name = defect value=defect_button>
                {% if selected_button == 'defect_button' %}
                    <input type="submit" class="btn-selected" value="Неисправность">
                {% else %}
                    <input type="submit" class="btn" value="Неисправность">
                {% endif %}
            </form>
        </div>
        <div class="button-section">
            <form action = '' method ="get">
                <input type="hidden" name = feature value=feature_button>
                {% if selected_button == 'feature_button' %}
                    <input type="submit" class="btn-selected" value="Признаки">
                {% else %}
                    <input type="submit" class="btn" value="Признаки">
                {% endif %}
            </form>
        </div>
        <div class="button-section">
            <form action = '' method ="get">
                <input type="hidden" name = possible_values_scalar value=possible_values_scalar_button>
                {% if selected_button == 'possible_values_scalar_button' %}
                    <input type="submit" class="btn-selected" value="Возможные значения признаков (скалярные)">
                {% else %}
                    <input type="submit" class="btn" value="Возможные значения признаков (скалярные)">
                {% endif %}
            </form>
        </div>
        <div class="button-section">
            <form action = '' method ="get">
                <input type="hidden" name = possible_values_dim value=possible_values_dim_button>
                {% if selected_button == 'possible_values_dim_button' %}
                    <input type="submit" class="btn-selected" value="Возможные значения признаков (числовые)">
                {% else %}
                    <input type="submit" class="btn" value="Возможные значения признаков (числовые)">
                {% endif %}
            </form>
        </div>
        <div class="button-section">
            <form action = '' method ="get">
                <input type="hidden" name = feature_values_classes value=feature_values_classes_button>
                {% if selected_button == 'feature_values_defect_button' %}
                    <input type="submit" class="btn-selected" value="Значения признаков для неисправностей">
                {% else %}
                    <input type="submit" class="btn" value="Значения признаков для неисправностей">
                {% endif %}
            </form>
        </div>
        <div class="button-section">
            <form action = '' method ="get">
                <input type="hidden" name = technical_description value=technical_description_button>
                {% if selected_button == 'technical_description_button' %}
                    <input type="submit" class="btn-selected" value="Техническое описание">
                {% else %}
                    <input type="submit" class="btn" value="Техническое описание">
                {% endif %}
            </form>
        </div>
        <div class="button-section">
            <form action = '' method ="get">
                <input type="hidden" name = completeness_knowledge_check value=completeness_knowledge_check_button>
                {% if selected_button == 'completeness_knowledge_check_button' %}
                    <input type="submit" class="btn-selected" value="Проверка полноты знаний">
                {% else %}
                    <input type="submit" class="btn" value="Проверка полноты знаний">
                {% endif %}
            </form>
        </div>
    {% endmacro %}
    {% macro render_data(selected_button, data_classes, data_features,
                        data_features_scalar, data_features_dim) %}
        {% if selected_button == 'classes_button' %}
            {{ render_data1(data_classes) }}
        {% elif selected_button == 'feature_button' %}
            {{ render_data2(data_features) }}
        {% elif selected_button == 'possible_values_scalar_button' %}
            {{ render_data3(data_features_scalar) }}
        {% elif selected_button == 'possible_values_dim_button' %}
            {{ render_data4(data_features_dim) }}
        {% elif selected_button == 'feature_values_defect_button' %}
            {{ render_data5(data) }}
        {% elif selected_button == 'technical_description_button' %}
            {{ render_data6(data_defect, data_features) }}
        {% elif selected_button == 'completeness_knowledge_check_button' %}
            {{ render_data7(data) }}
        {% endif %}
    {% endmacro %}
    {% macro render_data1(data_classes) %}
        <div class="input-section">
            <form action="" method="get">
                <input type="hidden" name="add_defect">
                <label class="add_title" for="add_defect_field">Название неисправности:</label>
                <input class="add_field" name="add_field" type="text" id="add_defect_field" maxlength="1000">
                <div class="button-section-add">
                    <input type="submit" class="btn-add" value="Добавить">
                </div>
            </form>
        </div>
        <div class="list-section">
            <div class="ggwp">
                <div class="items-list">
                    {% set n = data_defect|length %}
                    {% for i in range(n) %}
                        <div class="row">
                            <div class="btn-section-delete">
                                <form action = '' method ="get">
                                    <input type="hidden" name = defect_delete value={{data_defect.loc[i,"type_id"]}}>
                                    <input type="submit" class="btn-delete" value="Удалить">
                                </form>
                            </div>
                            {{data_classes.loc[i, data_classes.dtypes.index[1]]|string}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endmacro %}
    {% macro render_data2(data_features) %}
        <div class="input-section">
            <form action="" method="get">
                <input type="hidden" name="add_feature">
                <label class="add_title" for="add_feature_field">Название признака:</label>
                <input class="add_field" name="add_field" type="text" id="add_feature_field" maxlength="1000">
                <div class="button-section-add">
                    <input type="submit" class="btn-add" value="Добавить">
                </div>
            </form>
        </div>
        <div class="list-section">
            <div class="ggwp">
                <div class="items-list">
                    {% set n = data_features|length %}
                    {% for i in range(n) %}
                        <div class="row">
                            <div class="btn-section-delete">
                                <form action = '' method ="get">
                                    <input type="hidden" name = feature_delete value={{data_features.loc[i,"feature_id"]}}>
                                    <input type="submit" class="btn-delete" value="Удалить">
                                </form>
                            </div>
                            {{data_features.loc[i, data_features.dtypes.index[1]]|string}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endmacro %}
    {% macro render_data3(data_features_scalar) %}
        <div class="select-section">
            <form action="" method="get">
                {{ render_features_select(data_features_scalar) }}
            </form>
        </div>
        <div class="input-section">
            <form action="" method="get">
                <input type="hidden" name="add_feature_possible_value">
                <label class="add_title" for="add_feature_possible_value_field">Значение признака:</label>
                <input class="add_field" name="add_field" type="text" id="add_feature_possible_value_field" maxlength="1000">
                <div class="button-section-add">
                    <input type="submit" class="btn-add-2" value="Добавить">
                </div>
            </form>
        </div>
        <div class="list-section-2">
            <div class="ggwp">
            </div>
        </div>
    {% endmacro %}
    {% macro render_data4(data_features_dim) %}
       <div class="select-section">
            <form action="" method="get">
                {{ render_features_select(data_features_dim) }}
            </form>
        </div>
        <div class="input-section-2">
            <form action="" method="get">
                    <input type="hidden" name="add_feature_possible_range">
                    <label class="add_title" for="add_feature_possible_value_min_range">Значение признака (мин):</label>
                    <input type="range" value="50" id="add_feature_possible_value_min_range" min="0" max="100" oninput="this.nextElementSibling.value = this.value">
                    <output>50</output>
                    <br>
                    <br>
                    <label class="add_title" for="add_feature_possible_value_max_range">Значение признака (макс):</label>
                    <input type="range" value="50" id="add_feature_possible_value_max_range" min="0" max="100" oninput="this.nextElementSibling.value = this.value">
                    <output>50</output>
                <div class="button-section-add">
                    <input type="submit" class="btn-add-2" value="Добавить">
                </div>
            </form>
        </div>
        <div class="list-section-3">
            <div class="ggwp">
            </div>
        </div>
    {% endmacro %}
    {% macro render_data5(data_defect) %}
        <div class="select-section">
            <form action="" method="get">
                {{ render_defects_select(data_defect) }}
            </form>
        </div>
        <div class="select-section">
            <form action="" method="get">
                {{ render_features_select(data_features) }}
            </form>
        </div>
        <div class="input-section-3">
            <form action="" method="get">
                <input type="hidden" name="add_value_for_feature_to_defect">
                <input type="submit" class="btn-add-2" value="Добавить">
            </form>
        </div>
        <div class="list-section-3">
            <div class="ggwp">
            </div>
        </div>
    {% endmacro %}
    {% macro render_data6(data_defect, render_features) %}
        <div class="select-section">
            <form action="" method="get">
                {{ render_defects_select(data_defect) }}
            </form>
        </div>
        <div class="select-section">
            <form action="" method="get">
                {{ render_features_select(data_features) }}
            </form>
        </div>
        <div class="input-section-3">
            <form action="" method="get">
                <input type="hidden" name="add_feature_to_defect">
                <input type="submit" class="btn-add-2" value="Добавить">
            </form>
        </div>
        <div class="list-section-3">
            <div class="ggwp">
            </div>
        </div>
    {% endmacro %}
    {% macro render_data7(data) %}
        <h1>6</h1>
    {% endmacro %}
</head>
<body>
    <div class="header">
        <h1>Редактор базы знаний</h1>
    </div>
    <div class="main-container">
        <div class="menu-section">
            <div class="menu-container">
                {{ render_buttons(selected_button) }}
            </div>
        </div>
        <div class="data-section">
                {{ render_data(selected_button, data_classes, data_features,
                    data_features_scalar, data_features_dim) }}
        </div>
    </div>
    <div class="footer">
    </div>
</body>
</html>