<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <title>Динозавры</title>

    {% macro render_select_feature(data_features) %}
        <div>
            <p>Выберите_признаки:</p>
            <form action="" method="get">
                <input type="hidden" name='get_checkbox'>
                {% for i in range(len(data_features)) %}
                    <input type="checkbox" name='checkbox' value="{{data_features.loc[i, 'feature_id']|int}}" checked>
                {% endfor %}
                <input type="submit" class="btn-add-2" value="Далее">
            </form>
        </div>
    {% endmacro %}

    {% macro render_select(data, id) %}
        {% for i in range(len(data)) %}
            {% set n = data.loc[i, data.dtypes.index[0]]|int %}
            <option id='{{id}}' value='{{n}}' {% if n==id %} selected {% endif %}>
                {{ data.loc[i, data.dtypes.index[1]]|string }}
            </option>
        {% endfor %}
    {% endmacro %}

    {% macro render_values(data, checked_id) %}
        <form action = '' method ="get" class="values">
            {% for i in range(len(data)) %}
                {% set v = data.loc[i, data.dtypes.index[0]]|int %}
                <input type="radio" id="val" name="value_choose" value="{{v}}" onchange="this.form.submit()" {% if v==checked_id %} checked {% endif %} >
                <label for="val">{{data.loc[i, data.dtypes.index[1]]|string}}</label><br>
            {% endfor %}
        </form>
    {% endmacro %}

    {% macro render_features(data_features, data_possible_sc, data_possible_num, feature_id, checked_id) %}
        <div class="solver">
            <div class="">
                <form action="" method="get" class="">
                    <p>Признак: 
                    <select name='feature_selector' onchange="this.form.submit()">
                        {{ render_select(data_features, feature_id) }}
                    </select></p>
                </form>
            </div>
            <div>
                <p>Список значений</p>
                {% if not data_possible_sc.empty %}
                    {{ render_values(data_possible_sc, checked_id) }}
                    {% endif %}
                    {% if not data_possible_num.empty %}
                        {{ render_num(data_possible_num, checked_id) }}
                    {% endif %}
                    
            </div>
            <div> 
                <form action="" method="get" class="">
                    <input type="hidden" name="get_result" value="1">
                    <input type="submit" value="Результат">
                </form>
            </div>
        </div>
    {% endmacro %}
        
    {% macro render_num(data, checked_id) %}
        <div class="num">
            {% set a = min(data.loc[1, data.dtypes.index[1]], data.loc[0, data.dtypes.index[1]]) %}
            {% set b = max(data.loc[1, data.dtypes.index[1]], data.loc[0, data.dtypes.index[1]]) %}
            <form action = '' method ="get" class="choose-num">
                <label>Выберите значение:</label>
                <input type="range" {% if checked_id!=-1 %} value={{checked_id}} {% else %} value={{a}} {% endif %} name="types_num_value" id="" min={{a}} max={{b}} onchange="this.form.submit()" oninput="this.nextElementSibling.value = this.value">
                <output> {% if checked_id!=-1 %} {{checked_id}} {% else %} {{a}} {% endif %}</output>
            </form>
        </div>
    {% endmacro %}

    
    {% macro render_result1(result_good, result_bad) %}
        <div>
            <p>Введенные данные:</p>
            <ul type="none">
                {% for i in range(data_all|length) %}
                    <li>{{ list(data.keys())[i] }}: {{ data[i] }}</li>
                {% endfor %}
            </ul>
            <p>Вывод:</p>
            <p>{{ result }}</p>
        </div>
    {% endmacro %}

    {% macro render_result(result_good, result_bad) %}
        <div class="result">
            <div>
                <p>Подходящие классы динозавров:</p>
                {% for i in result_good %}
                    <p>{{i}}</p>
                {% endfor %}
            </div>
            <div>
                {% for i in result_bad %}
                    <p>{{i}}</p>
                {% endfor %}
            </div>
            <form class="btn2" action="{{ url_for('solver') }}" method="get">
                <button type="submit" value='solver'
                                    name="solver_button">Еще раз</button>
            </form>
        </div>
    {% endmacro %}


</head>
<body>
    <h1>Классификатор</h1>
    <div class="main-section">
        {% if flag %}
            <p>Результат</p>
            {{ render_result(result_good, result_bad) }}
        {% else %}
            {{ render_features(data_features, data_possible_sc, data_possible_num, feature_id, checked_id) }}
        {% endif %}
    </div>
    <form class="btn2" action="{{ url_for('user') }}" method="get">
        <button type="submit" value='user'
                            name="user_button">Назад</button>
    </form>
</body>
</html>